@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  a {
    color: #1d1d1d;
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: underline;
  }
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #1d1d1d;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: $black;
}

.bg-gray {
  background-color: #f8f8f8;
}

.sec-g__tit {
  padding-bottom: 2.34375vw;
  font-size: 3rem;
}
.sec-g .swiper-wrapper {
  height: 880px;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  position: relative;
  width: 100%;
  height: auto;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide__more {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .swiper .swiper-slide__more {
    right: 30px;
  }
}
.swiper .swiper-slide__more::after {
  content: "\f061";
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #e4e4e4;
  border-radius: 50%;
}

.sec-service .inner-sec-service {
  margin-top: 40px;
}
.sec-service .sec-g__tit {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.sec-service .slide-service {
  text-align: center;
}
.sec-service .business-tit {
  display: inline-block;
  margin-top: 40px;
  font-size: 2rem;
  background-color: #000;
  padding: 10px 8px;
  border-radius: 25px;
}
.sec-service .main-tit {
  font-size: 4rem;
  color: #fff;
}
.sec-service .sub-tit {
  margin-bottom: 80px;
  font-size: 2.4rem;
  color: #d8d8d8;
}
.sec-service .image-container {
  position: relative;
  text-align: center;
  display: inline-block;
}
.sec-service .image-container .image-content {
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec-service .image-container .image-contant,
.sec-service .image-container .image-wrapper1,
.sec-service .image-container .image-wrapper2,
.sec-service .image-container .image-wrapper3,
.sec-service .image-container .image-wrapper4,
.sec-service .image-container .image-wrapper5,
.sec-service .image-container .image-wrapper6 {
  width: 290px;
  height: 462px;
}
@media (min-width: 600px) {
  .sec-service .image-container .image-contant,
  .sec-service .image-container .image-wrapper1,
  .sec-service .image-container .image-wrapper2,
  .sec-service .image-container .image-wrapper3,
  .sec-service .image-container .image-wrapper4,
  .sec-service .image-container .image-wrapper5,
  .sec-service .image-container .image-wrapper6 {
    width: 640px;
    height: 800px;
  }
}
.sec-service .image-container .image-wrapper1,
.sec-service .image-container .image-wrapper3,
.sec-service .image-container .image-wrapper5 {
  position: absolute;
  opacity: 0.5;
  transform: rotate(-10deg);
  z-index: 2;
  top: 0;
  right: 40px;
}
.sec-service .image-container .image-wrapper2,
.sec-service .image-container .image-wrapper4,
.sec-service .image-container .image-wrapper6 {
  position: absolute;
  opacity: 0.5;
  transform: rotate(-25deg);
  z-index: 1;
  top: 0;
  right: 20px;
}
.sec-service .image-container .image-wrapper1 {
  background-color: #c7d67a;
}
.sec-service .image-container .image-wrapper2 {
  position: absolute;
  background-color: #9eaddb;
}
.sec-service .image-container .image-wrapper3 {
  background-color: #9eaddb;
}
.sec-service .image-container .image-wrapper4 {
  background-color: #7ce9e2;
}
.sec-service .image-container .image-wrapper5 {
  background-color: #7ce9e2;
}
.sec-service .image-container .image-wrapper6 {
  background-color: #c7d67a;
}
.sec-service .image-container .slide-description {
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: left;
}
.sec-service .image-container .slide-description .category {
  position: absolute;
  top: 15px;
  left: 40px;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #000;
  padding: 5px 5px;
  border-radius: 15px;
  z-index: 200;
}
.sec-service .image-container .slide-description .text {
  position: absolute;
  top: 60px;
  left: 40px;
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.5;
  text-align: left;
  z-index: 200;
}
.sec-service .tags {
  display: block;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 20px;
}
.sec-service .tags .tag-item {
  font-weight: 600;
  font-size: 1.9rem;
  padding: 2px 5px;
  color: #8e8e8e;
  line-height: 1.5;
}
.sec-service a.slide-link {
  padding: 0;
  margin: 0;
  display: block;
  background-color: #000;
  width: 100%;
  height: auto;
  max-width: 390px;
  max-height: 880px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide:nth-of-type(1) .business-tit {
  color: #7ce9e2;
  border: 2px solid #7ce9e2;
}

.swiper-slide:nth-of-type(2) .business-tit {
  color: #c7d67a;
  border: 2px solid #c7d67a;
}

.swiper-slide:nth-of-type(3) .business-tit {
  color: #9eaddb;
  border: 2px solid #9eaddb;
}

.swiper-slide:nth-of-type(1) .category {
  color: #7ce9e2;
}

.swiper-slide:nth-of-type(2) .category {
  color: #c7d67a;
}

.swiper-slide:nth-of-type(3) .category {
  color: #9eaddb;
}

.sec-news .sec-news-wrapper {
  padding-top: 40px;
}
.sec-news .sec-g__desc {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.sec-news .sec-g__tit {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 10px;
}
.sec-news .btn-more {
  display: flex;
  width: 110px;
  margin: auto;
  font-weight: 500;
  text-align: center;
  padding: 8px 20px;
  border-radius: 25px;
  border: 2px solid rgba(190, 190, 190, 0.5882352941);
  align-items: center;
  justify-content: center;
}
.sec-news .btn-more #Bold {
  margin-left: 3px;
  width: 20px;
  height: 20px;
}
.sec-news .thumb-img {
  margin: 32px auto 24px;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec-news .txt_area .cate {
  color: #007aff;
  font-weight: 700;
  font-size: 1.5rem;
}
.sec-news .txt_area .tit {
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.8rem;
}
.sec-news .txt_area .date {
  color: #8e8e8e;
  font-size: 1.4rem;
}
.sec-news .board {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media (min-width: 600px) {
  .sec-news .board {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .sec-news .board {
    height: 306px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  z-index: 2000;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.swiper .swiper-button-next::before {
  content: "\f061";
  font-size: 4rem;
  color: #fff;
  display: block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper .swiper-button-prev::before {
  content: "\f060";
  font-size: 4rem;
  color: #fff;
  display: block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .inner {
    padding: 0 30px;
  }
}

.sec-service .inner {
  padding: 0;
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #fae100;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

#header {
  position: relative;
  z-index: 1000;
}
#header.active::before {
  height: 218px;
}
#header.active .gnb__depth2 {
  height: 218px;
  padding: 30px 0;
}
#header::before {
  content: "";
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  background: #f8f8f8;
  transition: all 0.3s;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 73px;
}
@media (min-width: 1024px) {
  #header .inner {
    height: auto;
  }
}
#header #logo {
  transform: scale(0.8);
  transform-origin: 0 50%;
}
@media (min-width: 1024px) {
  #header #logo {
    transform: none;
  }
}
#header #logo a {
  display: block;
  width: 200px;
  height: 35px;
  background: url("../../../resources/images/pattern/common/logo_white.svg") no-repeat 0 0/contain;
}
#header #logo span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#gnb {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  #gnb {
    display: block;
  }
}
#gnb .gnb__depth1 {
  display: flex;
}
#gnb .gnb__depth1 > li {
  position: relative;
}
#gnb .gnb__depth1 > li:hover > a > span {
  color: #fae100;
}
#gnb .gnb__depth1 > li:hover > a > span::after {
  width: 100%;
}
#gnb .gnb__depth1 > li:first-child .gnb__depth2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #e4e4e4;
}
#gnb .gnb__depth1 > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  padding: 0 50px;
  font-size: 1.8rem;
}
#gnb .gnb__depth1 > li > a:hover {
  text-decoration: none;
}
#gnb .gnb__depth1 > li > a span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
#gnb .gnb__depth1 > li > a span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #fae100;
  transition: all 0.3s;
}
#gnb .gnb__depth2 {
  overflow: hidden;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  height: 0;
  padding: 0;
  background: #f8f8f8;
  transition: all 0.3s;
}
#gnb .gnb__depth2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #e4e4e4;
}
#gnb .gnb__depth2 a {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #555555;
}
#gnb .gnb__depth2 a:hover {
  font-weight: 700;
  color: #1d1d1d;
}

.util {
  display: flex;
  gap: 15px;
}
.util .lang {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  .util .lang {
    display: block;
  }
}
.util .lang.active .lang__btn::after {
  content: "\f106";
  font-family: "Line Awesome Free";
  font-weight: 900;
}
.util .lang.active .lang__lst {
  display: block;
}
.util .lang__btn {
  height: 57px;
  margin-right: 10px;
  text-transform: uppercase;
}
.util .lang__btn::after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: 5px;
  color: #8e8e8e;
}
.util .lang__lst {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  width: 90%;
  border: 1px solid #c6c6c6;
  background: #fff;
  text-align: center;
}
.util .lang__lst li {
  padding: 5px 0;
  text-transform: uppercase;
}
.util .lang__lst li:first-child {
  border-bottom: 1px solid #c6c6c6;
}
.util .search {
  transform: scaleX(-1);
}
.util .search::before {
  content: "\f002";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}
.util .all-menu::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}

#nav-all {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s;
}
#nav-all.active {
  display: block;
  left: 0;
}

.video-container {
  position: relative;
  top: 0;
  width: auto;
  height: auto;
  overflow: hidden;
}
.video-container .fi-sr-pause {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 610px;
  margin-left: 20px;
}
.video-container .video-overlay__main-text {
  white-space: nowrap;
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.video-container .video-overlay__subtit {
  color: rgba(255, 255, 255, 0.937254902);
}
.video-container .video-container__video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  background: linear-gradient(#000 0%, rgba(102, 102, 102, 0) 100%);
}
@media (min-width: 600px) {
  .video-container .video-container__video {
    height: 844px;
  }
}
@media (min-width: 1024px) {
  .video-container .video-container__video {
    height: 1024px;
  }
}
.video-container .video-container__video-overlay {
  position: absolute;
  top: 60%;
  margin-left: 20px;
  color: #fff;
}
.video-container .video-container::before {
  content: "\f04c";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}

.main-hanatour .logo {
  font-size: 1.8rem;
}
.main-hanatour h3 {
  font-size: 2rem;
}

.main-middle-banner .inner {
  position: relative;
  padding: 0;
}
.main-middle-banner .inner .banner-image {
  position: relative;
  width: 100%;
  height: 400px;
}
@media (min-width: 600px) {
  .main-middle-banner .inner .banner-image {
    height: 750px;
  }
}
.main-middle-banner .inner .intro-text {
  position: absolute;
  top: 20%;
  margin-left: 20px;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
@media (min-width: 600px) {
  .main-middle-banner .inner .intro-text {
    font-size: 5rem;
  }
}
.main-middle-banner .inner .intro-text .highlighted-text {
  color: #fae100;
}
.main-middle-banner .inner .scroll-container {
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 1000;
}
.main-middle-banner .inner .scroll-container .message-text {
  position: relative;
  color: #fff;
  background-color: #007aff;
  width: 100%;
  padding: 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1500;
}

.event-banner .event-banner__slides li {
  display: none; /* 모든 슬라이드 숨기기 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.event-banner .event-banner__slides li.active {
  display: block; /* 활성 슬라이드만 보이기 */
}
.event-banner .event-banner__description {
  position: absolute;
  font-size: 1.3rem;
  z-index: 1000;
  top: 70px;
  color: #007aff;
  font-weight: bold;
  margin-left: 50px;
}
.event-banner .event-banner__tit {
  position: absolute;
  font-size: 2rem;
  z-index: 1000;
  top: 90px;
  color: #fff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin-left: 50px;
}
.event-banner .event-banner__description2 {
  position: absolute;
  font-size: 1.4rem;
  z-index: 1000;
  top: 50px;
  color: red;
  font-weight: bold;
  margin-left: 40px;
}
.event-banner .event-banner__tit2 {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  z-index: 1000;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  top: 75px;
  color: #fff;
  margin-left: 40px;
}
.event-banner .event-banner__tit3 {
  position: absolute;
  font-size: 1.7rem;
  top: 30px;
  color: #fff;
  margin-left: 20px;
  z-index: 1000;
}
.event-banner .event-banner__img {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 100%;
  height: 138px;
  z-index: 800;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .event-banner .event-banner__img {
    height: 180px;
  }
}
@media (min-width: 1024px) {
  .event-banner .event-banner__img {
    height: 200px;
    padding: 120px;
  }
}
.event-banner .btn-event {
  position: absolute;
  display: inline-flex;
  padding: 5px 6px;
  top: 30%;
  left: 80%;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
  transition: background-color 0.3s;
  z-index: 1000;
}
.event-banner .btn-event #Bold {
  width: 25px;
  height: 25px;
}
.event-banner .btn-event:hover {
  background-color: #007aff;
}

@media screen and (min-width: 1024px) {
  .sec-service .slide-service .sec-g__cont .swiper-pagination {
    display: block;
  }
  .sec-service .slide-service .sec-g__cont .swiper-button-next,
  .sec-service .slide-service .sec-g__cont .swiper-button-prev {
    display: none;
  }
}
.sec-service .sec-g__cont .swiper-slide a {
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

.intro .form-input-search {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
  margin-top: 80px;
  border-bottom: 3px solid #000;
  box-sizing: border-box;
}
.intro .form-input-search .input-value {
  font: bold;
}
.intro .form-input-search #Capa_1 {
  width: 35px;
  height: 35px;
}
.intro .effect-data .keyword {
  margin: 32px 0;
}
.intro .effect-data .btn-main-search-keyword {
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding: 0 16px;
  margin: 5px 0;
  border-radius: 30px;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  background-color: #ececec;
}
.intro .effect-data .decorative-visual {
  width: 100%;
  height: 500px;
}
@media (min-width: 600px) {
  .intro .effect-data .decorative-visual {
    height: 1000px;
  }
}/*# sourceMappingURL=styles.css.map */