<div class="footer-container">
    <!-- 네비게이션 영역 -->
    <div class="footer-nav">
        <ul class="footer-nav__list">
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">사업</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">여행서비스</a></li>
                    <li class="footer-nav__link-item"><a href="#">온라인서비스</a></li>
                    <li class="footer-nav__link-item"><a href="#">B2B비지니스</a></li>
                    <li class="footer-nav__link-item"><a href="#">계열사</a></li>
                    <li class="footer-nav__link-item"><a href="#">사업제휴</a></li>
                </ul>
            </li>
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">투자자</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">개요</a></li>
                    <li class="footer-nav__link-item"><a href="#">주식정보</a></li>
                    <li class="footer-nav__link-item"><a href="#">채무정보</a></li>
                    <li class="footer-nav__link-item"><a href="#">공시정보</a></li>
                    <li class="footer-nav__link-item"><a href="#">주주환원</a></li>
                    <li class="footer-nav__link-item"><a href="#">자료실</a></li>
                    <li class="footer-nav__link-item"><a href="#">주주총회</a></li>
                    <li class="footer-nav__link-item"><a href="#">공고</a></li>
                </ul>
            </li>
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">경영</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">지속가능경영</a></li>
                    <li class="footer-nav__link-item"><a href="#">환경</a></li>
                    <li class="footer-nav__link-item"><a href="#">사회</a></li>
                    <li class="footer-nav__link-item"><a href="#">지배구조</a></li>
                    <li class="footer-nav__link-item"><a href="#">윤리경영</a></li>
                </ul>
            </li>
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">소식</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">하나인 생활</a></li>
                    <li class="footer-nav__link-item"><a href="#">직무 인터뷰</a></li>
                    <li class="footer-nav__link-item"><a href="#">채용공고</a></li>
                    <li class="footer-nav__link-item"><a href="#">자주묻는 질문</a></li>
                </ul>
            </li>
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">하나투어</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">우리의 약속</a></li>
                    <li class="footer-nav__link-item"><a href="#">기업개요</a></li>
                    <li class="footer-nav__link-item"><a href="#">연혁</a></li>
                    <li class="footer-nav__link-item"><a href="#">CI</a></li>
                    <li class="footer-nav__link-item"><a href="#">글로벌 네트워크</a></li>
                    <li class="footer-nav__link-item"><a href="#">보도자료</a></li>
                    <li class="footer-nav__link-item"><a href="#">광고</a></li>
                    <li class="footer-nav__link-item"><a href="#">수상/인증</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="footer-links">
        <a href="#">개인정보처리방침</a>
        <a href="#" class="footer-link">고객지원</a>
        <a href="#" class="footer-link">사업장 소개</a>
    </div>

    <!-- 회사 정보 -->
    <div class="footer-info">
        <h3 class="footer-info__title">하나투어</h3>
        <p class="footer-info__text">
            <strong class="footer-info__">본사</strong>
            서울특별시 종로구 인사동5길 41
        </p>
        <p class="footer-info__text">TEL +82-2-1577-1233</p>
        <p class="footer-info__text">Email webmaster@hanatour.com</p>
    </div>

    <div class="footer-brand-container">
        <p class="footer-brand">THE HaNa TOUR</p>
    </div>

    <!-- SNS 아이콘 -->
    <div class="footer-sns">
        <a href="https://www.instagram.com/hanatour_official/" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_instar_icon_off.svg" alt="인스타그램" />
        </a>
        <a href="https://www.youtube.com/user/HanaTour" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_youtube_icon_off.svg" alt="유튜브" />
        </a>
        <a href="https://blog.naver.com/hanatourkr" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_blog_icon_off.svg" alt="블로그" />
        </a>
        <a href="https://story.kakao.com/ch/hanatour" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_kakao_icon_off.svg" alt="카카오" />
        </a>
        <a href="https://www.facebook.com/HanaTour.fb/" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_facebook_icon_off.svg" alt="페이스북" />
        </a>
        <a href="https://x.com/hanatour" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_xblog_icon_off.svg" alt="X블로그" />
        </a>
    </div>

    <img class="footer-logo" src="../../resources/images/pattern/common/logo_white.svg" alt="로고" />
</div>
