<div class="footer-container">
    <!-- 네비게이션 영역 -->
    <div class="footer-nav">
        <ul class="footer-nav__list">
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">해외여행</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">동남아/대만/아시아</a></li>
                    <li class="footer-nav__link-item"><a href="#">일본</a></li>
                    <li class="footer-nav__link-item"><a href="#">유럽/아프리카</a></li>
                    <li class="footer-nav__link-item"><a href="#">중국/홍콩/중앙아시아</a></li>
                    <li class="footer-nav__link-item"><a href="#">사이판/호주/뉴질랜드</a></li>
                    <li class="footer-nav__link-item"><a href="#">미주/하와이/캐나다</a></li>
                    <li class="footer-nav__link-item"><a href="#">지방출발</a></li>
                </ul>
            </li>
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">투어/입장권</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">일본</a></li>
                    <li class="footer-nav__link-item"><a href="#">동남아/대만</a></li>
                    <li class="footer-nav__link-item"><a href="#">남태평양</a></li>
                    <li class="footer-nav__link-item"><a href="#">유럽/중동/아프리카</a></li>
                    <li class="footer-nav__link-item"><a href="#">미주</a></li>
                    <li class="footer-nav__link-item"><a href="#">중국/홍콩/몽골</a></li>
                    <li class="footer-nav__link-item"><a href="#">해외 렌터카</a></li>
                    <li class="footer-nav__link-item"><a href="#">제주도렌터카</a></li>
                </ul>
            </li>
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">국내여행</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">제주여행</a></li>
                    <li class="footer-nav__link-item"><a href="#">내륙여행</a></li>
                    <li class="footer-nav__link-item"><a href="#">울릉도</a></li>
                    <li class="footer-nav__link-item"><a href="#">섬 여행</a></li>
                    <li class="footer-nav__link-item"><a href="#">내나라여행</a></li>
                    <li class="footer-nav__link-item"><a href="#">국내골프</a></li>
                    <li class="footer-nav__link-item"><a href="#">제주도 렌터카</a></li>
                </ul>
            </li>
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">테마여행</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">해외여행</a></li>
                    <li class="footer-nav__link-item"><a href="#">허니문</a></li>
                    <li class="footer-nav__link-item"><a href="#">크루즈</a></li>
                    <li class="footer-nav__link-item"><a href="#">밍글링 투어</a></li>
                    <li class="footer-nav__link-item"><a href="#">트레킹/레저</a></li>
                    <li class="footer-nav__link-item"><a href="#">MICE</a></li>
                </ul>
            </li>
            <li class="footer-nav__list-item">
                <h3 class="footer-nav__section-title">하나투어</h3>
                <ul class="footer-nav__link-list">
                    <li class="footer-nav__link-item"><a href="#">우리의 약속</a></li>
                    <li class="footer-nav__link-item"><a href="#">기업개요</a></li>
                    <li class="footer-nav__link-item"><a href="#">연혁</a></li>
                    <li class="footer-nav__link-item"><a href="#">CI</a></li>
                    <li class="footer-nav__link-item"><a href="#">글로벌 네트워크</a></li>
                    <li class="footer-nav__link-item"><a href="#">보도자료</a></li>
                    <li class="footer-nav__link-item"><a href="#">광고</a></li>
                    <li class="footer-nav__link-item"><a href="#">수상/인증</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="footer-links">
        <a href="#">개인정보처리방침</a>
        <a href="#" class="footer-link">고객지원</a>
        <a href="#" class="footer-link">사업장 소개</a>
    </div>

    <!-- 회사 정보 -->
    <div class="footer-info">
        <h3 class="footer-info__title"><a href="https://www.hanatour.com/">하나투어 닷컴</a></h3>
        <p class="footer-info__text">
            <strong class="footer-info__">본사</strong>
            서울특별시 종로구 인사동5길 41
        </p>
        <p class="footer-info__text">TEL +82-2-1577-1233</p>
        <p class="footer-info__text">Email webmaster@hanatour.com</p>
    </div>

    <div class="footer-brand-container">
        <p class="footer-brand">THE HaNa TOUR</p>
    </div>

    <!-- SNS 아이콘 -->
    <div class="footer-sns">
        <a href="https://www.instagram.com/hanatour_official/" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="/Hanatour/resources/images/pattern/icons/sns_instar_icon_on.svg" alt="인스타그램" />
        </a>
        <a href="https://www.youtube.com/user/HanaTour" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="/Hanatour/resources/images/pattern/icons/sns_youtube_icon_on.svg" alt="유튜브" />
        </a>
        <a href="https://blog.naver.com/hanatourkr" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="/Hanatour/resources/images/pattern/icons/sns_blog_icon_on.svg" alt="블로그" />
        </a>
        <a href="https://story.kakao.com/ch/hanatour" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="/Hanatour/resources/images/pattern/icons/sns_kakao_icon_on.svg" alt="카카오" />
        </a>
        <a href="https://www.facebook.com/HanaTour.fb/" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon" src="/Hanatour/resources/images/pattern/icons/sns_facebook_icon_on.svg" alt="페이스북" />
        </a>
        <a href="https://x.com/hanatour" target="_blank" class="footer-sns__link">
            <img class="footer-sns__icon xblog" src="/Hanatour/resources/images/pattern/icons/sns_xblog_icon_on.svg" alt="X블로그" />
        </a>
    </div>

    <img class="footer-logo" src="/Hanatour/resources/images/pattern/common/logo_white.svg" alt="로고" />
</div>
