<div class="footer-container">
    <div class="footer-links">
        <a href="#">개인정보처리방침</a>
        <a href="#" class="footer-link">고객지원</a>
        <a href="#" class="footer-link">사업장 소개</a>
    </div>
    <div class="footer-info">
        <img class="footer-logo" src="../../resources/images/pattern/common/logo_white.svg" alt="로고" />
        <p class="footer-info__text">
            <strong class="footer-info__title">본사</strong>
            서울특별시 종로구 인사동5길 41
        </p>
        <p class="footer-info__text">TEL +82-2-1577-1233</p>
        <p class="footer-info__text">Email webmaster@hanatour.com</p>
    </div>
    <div class="footer-brand-container">
        <p class="footer-brand">THE HaNa TOUR</p>
    </div>
    <div class="footer-sns">
        <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_instar_icon_off.svg" alt="인스타그램" />
        <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_youtube_icon_off.svg" alt="유튜브" />
        <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_blog_icon_off.svg" alt="블로그" />
        <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_kakao_icon_off.svg" alt="카카오" />
        <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_facebook_icon_off.svg" alt="페이스북" />
        <img class="footer-sns__icon" src="../../resources/images/pattern/icons/sns_xblog_icon_off.svg" alt="X블로그" />
    </div>
</div>
