@import 'component/include';
@import 'pattern/p_include';

.intro {
    .input-value {
        font: bold;
    }
    .form-input-search {
        padding-bottom: 5px;
        margin-top: 80px;
        border-bottom: 3px solid #18181b;
        box-sizing: border-box;
    }

    #Capa_1 {
        width: 35px;
        height: 35px;
        margin-left: 100px;
        margin-right: 8px;
    }
    .keyword {
        margin: 32px 0;
    }
    .btn-main-search-keyword {
        display: inline-flex;
        align-items: center;
        height: 36px;
        padding: 0 16px;
        margin: 5px 0;
        border-radius: 30px;

        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1;
        color: #181818;

        background-color: #ececec;
    }
}
