@import 'component/include';
@import 'pattern/p_include';

.intro {
    .form-input-search {
        display: flex;
        padding-bottom: 5px;
        justify-content: space-between;
        margin-top: 80px;
        border-bottom: 3px solid $black;
        box-sizing: border-box;

        .input-value {
            font: bold;
        }

        #Capa_1 {
            width: 35px;
            height: 35px;
        }
    }

    .effect-data {
        .keyword {
            margin: 32px 0;
        }
        .btn-main-search-keyword {
            display: inline-flex;
            align-items: center;
            height: 36px;
            padding: 0 16px;
            margin: 5px 0;
            border-radius: 30px;

            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1;
            color: $black;

            background-color: $secondary-keyword;
        }
        .decorative-visual {
            width: 100%;
            height: 500px;
            margin-bottom: 40px;

            @include mobileMore {
                height: 1000px;
            }
        }
    }
}
