// 사이트 공통 스타일
:root {
  --swiper-theme-color: red;
}

.bg-gray {
  background-color: $gray-5;
}


// section layout
.sec-g {
  overflow: hidden;
  padding: 10vw 0;
  height: 880px;
  &__tit {
    padding-bottom: 2.34375vw;
    font-size: 3rem;
  }
  .swiper-wrapper {
    height: 880px;
  }
}

// 전역 스타일
.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      width: 260px;
      height: auto;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    &__more {
      display: flex;
      align-items: center;
      gap: 10px;
      position: absolute;
      top: 17px;
      right: $p-mobile;
      font-size: 2rem;
      @include mobileMore {
        right: $p-tablet;
      }
      &::after {
        content: '\f061';
        @include lineAwesome;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: $gray-20;
        border-radius: 50%;
      }
    }
  }
}

.sec-service  {
  .sec-g__tit {
    position: absolute;
    width: 1px;
    height: 1px;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);  // 화면에서 요소를 완전히 숨김
    white-space: nowrap;
  }
  .slide-service {
    text-align: center;
  }

  .business-tit {
      display: inline-block;
      margin-top: 50px;
      font-size: 2rem;
      color: #7CE9E2;
      background-color: $black;
      border: 2px solid #7CE9E2;
      padding: 10px 8px;
      border-radius: 25px;
  }

  .main-tit {
      font-size: 4rem;
      color: $white;
  }

  .sub-tit {
      margin-bottom: 80px;
      font-size: 2.4rem;
      color: #bebebe;
  }
  .image-container {
    position: relative;
    text-align: center;
    display: inline-block;
      .image-content {
        z-index: 3;
      }
      .image-wrapper1 {
        position: absolute;
        background-color: #C7D67A;
        opacity: 0.5;
        width: 260px;
        height: 462px;
        transform: rotate(-10deg);
        z-index: 2;
        top: 0;
        right: 40px;
      }
      
      .image-wrapper2 {
        position: absolute;
        background-color: #9EADDB;
        opacity: 0.5;
        width: 260px;
        height: 462px;
        transform: rotate(-25deg);
        z-index: 1;
        top: 0;
        right: 20px;
      }
      .image-wrapper3 {
        position: absolute;
        background-color: #9EADDB;
        opacity: 0.5;
        width: 260px;
        height: 462px;
        transform: rotate(-10deg);
        z-index: 2;
        top: 0;
        right: 40px;
      }
      
      .image-wrapper4 {
        position: absolute;
        background-color: #7CE9E2;
        opacity: 0.5;
        width: 260px;
        height: 462px;
        transform: rotate(-25deg);
        z-index: 1;
        top: 0;
        right: 20px;
      }
      .image-wrapper5 {
        position: absolute;
        background-color: #7CE9E2;
        opacity: 0.5;
        width: 260px;
        height: 462px;
        transform: rotate(-10deg);
        z-index: 2;
        top: 0;
        right: 40px;
      }
      
      .image-wrapper6 {
        position: absolute;
        background-color: #C7D67A;
        opacity: 0.5;
        width: 260px;
        height: 462px;
        transform: rotate(-25deg);
        z-index: 1;
        top: 0;
        right: 20px;
      }

      .slide-description {
          font-size: 1.5rem;
          margin-top: 10px;
          text-align: left;
          
              .category {
                  position: absolute;
                  top: 15px;
                  left: 60px;
                  color: #7CE9E2;
                  font-weight: 600;
                  font-size: 1.5rem;
                  background-color: $black;
                  padding: 5px 5px;
                  border-radius: 15px;
                  z-index: 200;
            }
            
              .text {
                  position: absolute;
                  top: 60px;
                  left: 60px;
                  font-weight: 600;
                  font-size: 1.8rem;
                  color: $white;
                  line-height: 1.5;
                  text-align: left;
                  z-index: 200;
              }
      }
  }
    .tags {
      white-space: nowrap;

      .tag-item {
        display: inline-block;
        font-weight: 600;
        margin-top: 50px;
        margin-right: 10px;
        padding: 2px 5px;
        color: #bebebe96;
        line-height: 1.5;
      }
    }
    .sec-g__cont .swiper-slide a {
      padding: 0;
      margin: 0;
      background: #181818;
      width: 390px;
      height: 920px;
    }
  
}

.sec-news {
  padding-bottom: 40px;

    .sec-news-wrapper {
      padding: 30px 0;
    }
    .sec-g__desc {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
    .sec-g__tit {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 10px;
    }
    .btn-more {
      display: flex;
      font-weight: 500;
      text-align: center;
      padding: 8px 10px;
      border-radius: 25px;
      border: 2px solid rgba(190, 190, 190, 0.5882352941);
      align-items: center;
      justify-content: center;
      
      #Bold {
        margin-left: 3px;
        width: 20px;
        height: 20px;
      }
    }
    .thumb-img {
      width: 350px;
      height: 233px;
      border-radius: 10px;
    }
    .txt_area {
      .cate {
        margin-top: 10px;
        color: #7CE9E2;
        font-weight: 700;
        font-size: 1.5rem;
      }
      .tit {
        padding: 10px 0;
        font-weight: bold;
        font-size: 1.8rem;
      }
      .date {
        margin-bottom: 20px;
        color: #bebebe96;
        font-size: 1.4rem;
      }
    }
}


