// 사이트 레이아웃 관련 요소

// grid layout
.inner {
    position: relative;
    width: 100%;
    max-width: $grid;
    margin: 0 auto;
    padding: 0 $p-mobile;
    @include tablet {
        padding: 0 $p-tablet;
    }
}

.sec-service {
    .inner {
        padding: 0;
    }
}

#skip-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    text-align: center;
    background-color: $gray-90;
    a {
        &:not(:focus) {
            @include sr-only;
        }
        &:focus {
            @include flex-layout($ai: center, $jc: center);
            @include focus($color: $white, $alpha: 0.9);
            font-size: 1.5rem;
            color: $white;
            width: 100%;
            height: 3.2rem;
            margin: 0 auto;
            text-align: center;
        }
    }
    &.type1 {
        background-color: $white;
        a {
            &:focus {
                color: $gray-90;
            }
        }
    }
}

// header
#header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;

    &.active {
        &::before {
            height: 350px;
        }
        .gnb__depth2 {
            height: 350px;
            padding: 20px 0;
        }
    }
    &::before {
        content: '';
        // display: none;
        position: absolute;
        top: 102px;
        left: 0;
        right: 0;
        height: 0;
        background: $white;
        transition: all 0.3s;
    }
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;
        height: 73px;
        @include tabletMore {
            height: auto;
        }
    }
    #logo {
        transform: scale(0.8);
        transform-origin: 0 50%;
        @include tabletMore {
            transform: none;
        }
        a {
            display: block;
            width: 200px;
            height: 35px;
            background: url('../../../resources/images/pattern/common/logo_white.svg') no-repeat 0 0 / contain;
        }
        span {
            @include sr-only;
        }
    }
}

#gnb {
    display: none;
    position: relative;
    @include tabletMore {
        display: block;
    }
    .gnb-item {
        color: $white;
        font-weight: 700;
    }
    .gnb__depth1 {
        display: flex;
        > li {
            position: relative;
            &:hover {
                > a > span {
                    color: $primary;
                    &::after {
                        width: 100%;
                    }
                }
            }
            > a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 102px;
                padding: 0 50px;
                font-size: 1.8rem;
                &:hover {
                    text-decoration: none;
                }
                span {
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 2px;
                        background: $primary;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
    .gnb__depth2 {
        overflow: hidden;
        position: absolute;
        top: 102px;
        left: 0;
        right: 0;
        height: 0;
        padding: 0;
        background: $white;
        transition: all 0.3s;
        a {
            display: block;
            padding: 7px 0;
            text-align: center;
            color: $gray-70;
            &:hover {
                font-weight: $font-bold;
                color: $gray-90;
            }
        }
    }
}

.util {
    display: flex;
    align-items: center;
    gap: 15px;
    .lang {
        display: none;
        position: relative;

        @include tabletMore {
            display: block;
        }
        &.active {
            .lang__btn::after {
                content: '\f106';
                @include lineAwesome;
            }
            .lang__lst {
                display: block;
            }
        }
        &__btn {
            height: 36px;
            margin-right: 10px;
            text-transform: uppercase;
            color: $white;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid $white;
            border-radius: 36px;
            padding: 0 15px;
        }

        &__lst {
            display: none;
            position: absolute;
            top: 52px;
            left: 0;
            width: 90%;
            border: 1px solid $gray-40;
            border-radius: 15px;
            background: $white;
            text-align: center;
            li {
                padding: 5px 0;
                text-transform: uppercase;
                color: $gray-70;
            }
        }
    }
    .search,
    .all-menu {
        position: relative;
        width: 3rem;
        height: 57px;

        &::before,
        &::after {
            content: '\f002';
            @include lineAwesome;
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.3s ease;
        }

        &::before {
            color: $white;
            opacity: 1;
        }

        &::after {
            color: $black;
            opacity: 0;
        }
    }

    .all-menu::before,
    .all-menu::after {
        content: '\f0c9';
    }
}

#header {
    &:hover {
        background-color: $white;

        .gnb-item {
            color: $gray-90;
        }
        .lang__btn {
            color: $black;
        }
        #logo a {
            background: url('../../../resources/images/pattern/common/logo.svg') no-repeat 0 0 / contain;
        }
        .search,
        .all-menu {
            &::before {
                opacity: 0; // 원래 아이콘 숨김
            }
            &::after {
                opacity: 1; // 반전된 아이콘 보이기
            }
        }
    }
}

#nav-all {
    // display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: $p-mobile;
    background: hsla(0, 0%, 59%, 0.5);
    // background: hsla(0, 0%, 59%, 1);
    backdrop-filter: blur(10px);
    transition: all 0.3s;

    .gnb__depth1 {
        display: inline-flex;
        gap: 100px;

        .gnb-item {
            display: block;
            font-size: 3rem;
            color: $white;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }

    &.active {
        display: block;
        left: 0;
    }
    .close {
        &::before {
            content: '\f00d';
            @include lineAwesome;
            color: $white;
        }
    }
    .gnb__depth2 {
        a {
            display: block;
            font-size: 2rem;
            color: $gray-20;
            margin-bottom: 10px;
        }
    }
}

.top {
    display: none; // 기본적으로 숨김
    &.active {
        display: block; // 활성화 시 표시
    }
    &::before {
        content: '\f0aa';
        @include lineAwesome;
        position: fixed;
        font-size: 7.5rem;
        color: $gray-20;
        padding-top: 18px;
        right: 5%;
        bottom: 5%;
    }

    @include mobileMore {
        display: none;
        &.active {
            display: none; // 모바일에서도 active가 적용되지 않도록
        }
    }
    @include tabletLess {
        display: none;
        &.active {
            display: none; // 태블릿에서도 active가 적용되지 않도록
        }
    }
    @include tabletMore {
        display: none; // 기본적으로 숨김
        &.active {
            display: block; // 테블릿 이상에서만 표시
        }
    }
}

// footer
#footer {
    position: relative;
    background: $black;
    display: block;
    width: 100%;
    height: 350px;
    padding: 20px;
    font-size: 1.5rem;
    color: $white;

    @include mobileMore {
        padding: 30px;
        height: 600px;
        margin-top: 80px;
    }
    @include tabletMore {
        height: 630px;
        padding: 80px 300px 40px;
        margin-top: 80px;
    }

    .footer-nav {
        @include mobileMore {
            display: none;
        }
        @include tabletLess {
            display: none;
        }
        @include tabletMore {
            display: block;
        }
    }
    .footer-nav__list-item {
        display: inline-flex;
        flex-direction: column;
        margin-right: 50px;
        margin-bottom: 60px;

        .footer-nav__section-title {
            font-size: 1.7rem;
            margin-bottom: 20px;
        }
        .footer-nav__link-item {
            margin-bottom: 10px;
        }
        .footer-nav__link-item a {
            font-size: 1.5rem;
            color: $gray-50;
        }
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 0.5px solid $gray-80;

        @include mobileMore {
            font-size: 1.7rem;
        }
        @include tabletMore {
            display: flex;
            justify-content: flex-start;
            padding-top: 20px;
            border-top: 0.5px solid $gray-80;
        }
    }

    .footer-links a {
        color: $white;
        margin-right: 40px;
    }
    a.footer-link {
        color: $gray-40;
        font-size: 1.5rem;
    }
    .footer-nav__list {
        position: relative;
        width: 80%;
    }

    .footer-info {
        @include tabletMore {
            position: absolute;
            top: 60px;
            right: 350px;
        }

        .footer-info__title {
            margin: 30px 0 15px;
            background-color: $gray-80;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 30px;
            font-weight: 400;
            a {
                color: $white;
                font-size: 1.7rem;
            }
        }
        .footer-info__text {
            color: $gray-70;
            margin-bottom: 5px;

            @include mobileMore {
                font-size: 1.5rem;
            }
            .footer-info__title {
                color: $white;
                font-weight: 300;
                margin-right: 10px;

                @include mobileMore {
                    display: flex;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer-brand-container {
        text-align: center;
        margin: 20px 0;
        font-family: 'Henny Penny', system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 2.4rem;

        @include mobileMore {
            font-size: 3rem;
            margin: 30px 0;
        }
        @include tabletMore {
            position: absolute;
            top: 250px;
            right: 355px;
        }
    }
    .footer-sns {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;

        @include mobileMore {
            justify-content: center;
        }
        @include tabletMore {
            position: absolute;
            top: 445px;
            right: 300px;
        }

        .footer-sns__icon {
            @include mobileMore {
                padding: 0 15px;
                transition: opacity 0.3s ease-in-out;
            }
        }
        .footer-sns__icon {
            filter: grayscale(100%);
            transition: filter 0.3s ease;
            &:hover {
                filter: grayscale(0%);
            }
        }
    }

    .footer-logo {
        @include mobileMore {
            display: none;
        }
        @include tabletLess {
            display: none;
        }
        @include tabletMore {
            display: block;
            margin: 25px 0;
            width: 12%;
        }
    }
}
