.intro {
    .intro-text-line,
    .intro-heading,
    .search-decoration-suitcase,
    .search-decoration-london,
    .search-decoration-hawaii {
        @include mobileMore {
            display: none;
        }
        @include tabletLess {
            display: none;
        }
        @include tabletMore {
            display: block;
        }
    }
    .intro-text-group {
        position: relative;
    }
    .effect-heading {
        position: absolute;
        font-size: 10rem;
        font-weight: 900;
        color: $gray-10;
        display: block;
        top: 240px;
        right: -60px;
        @include mobileMore {
            display: none;
        }
        @include tabletLess {
            display: none;
        }
        @include tabletMore {
            display: block;
        }
    }
    .intro-text {
        color: $gray-60;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        margin: 80px auto 30px;
        // gap: 20px;
    }
    .intro-heading {
        font-size: 7.2rem;
        width: 50%;
    }

    .form-input-search {
        display: flex;
        padding-bottom: 5px;
        justify-content: space-between;
        margin-top: 80px;
        border-bottom: 3px solid $black;
        box-sizing: border-box;
        @include tabletMore {
            display: flex;
            width: 40%;
        }

        .input-value {
            font: bold;
        }

        #Capa_1 {
            width: 35px;
            height: 35px;
        }
    }

    .effect-data {
        .keyword {
            margin: 32px 0;

            @include tabletMore {
                width: 35%;
            }
        }
        .btn-main-search-keyword {
            display: inline-flex;
            align-items: center;
            height: 36px;
            padding: 0 16px;
            margin: 5px 0;
            border-radius: 30px;

            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1;
            color: $black;

            background-color: $secondary-keyword;
        }
        .decorative-visual {
            width: 100%;
            height: 500px;
            margin-bottom: 40px;

            @include mobileMore {
                width: 1000px;
                height: 665px;
                object-fit: cover;
            }
        }
    }
    .search-decoration-suitcase {
        @include mobileMore {
            width: 500px;
            height: 720px;
        }
    }
    .search-decoration-london {
        @include mobileMore {
            width: 500px;
            height: 500px;
        }
    }
    .search-decoration-hawaii {
        @include mobileMore {
            width: 360px;
            height: 550px;
        }
    }
}

.main-hanatour {
    .logo {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2rem;
    }
}

.main-middle-banner {
    .inner-middle-banner {
        margin: 0;
        padding: 0;
    }

    .banner-container {
        position: relative;
        .banner-content {
            margin-bottom: 10px;
            .banner-image {
                position: relative;
                width: 100%;
                height: 400px;
                @include mobileMore {
                    height: 750px;
                }
            }

            .banner-intro-text {
                position: absolute;
                top: 20%;
                margin-left: 20px;
                color: $white;
                font-size: 3rem;
                font-weight: bold;
                @include mobileMore {
                    margin-left: 30px;
                    font-size: 5rem;
                }

                .highlighted-text {
                    color: $primary;
                }
            }
        }

        .scroll-container {
            z-index: 1000;
            .message-text {
                position: absolute;
                color: $white;
                background-color: $secondary-3;
                width: 100%;
                padding: 10px 20px;
                white-space: nowrap;
                overflow: hidden;
                z-index: 1500;
                bottom: 0;
            }
        }
    }
}
.event-banner {
    .event-banner__slides li {
        display: none; /* 모든 슬라이드 숨기기 */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .event-banner__slides li.active {
        display: block; /* 활성 슬라이드만 보이기 */
    }

    .event-banner__description {
        position: absolute;
        font-size: 1.3rem;
        z-index: 1000;
        top: 70px;
        color: $secondary-3;
        font-weight: bold;
        margin-left: 50px;
        @include mobileMore {
            margin-left: 100px;
            font-size: 2rem;
        }
    }
    .event-banner__tit {
        position: absolute;
        font-size: 2rem;
        z-index: 1000;
        top: 90px;
        color: $white;
        text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
        margin-left: 50px;

        @include mobileMore {
            margin-left: 100px;
            top: 100px;
            font-size: 3rem;
        }
    }
    .event-banner__description2 {
        position: absolute;
        font-size: 1.4rem;
        z-index: 1000;
        top: 50px;
        color: red;
        font-weight: bold;
        margin-left: 40px;
        @include mobileMore {
            top: 55px;
            font-size: 1.8rem;
        }
    }
    .event-banner__tit2 {
        position: absolute;
        font-size: 1.8rem;
        font-weight: bold;
        z-index: 1000;
        text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
        top: 75px;
        color: $white;
        margin-left: 40px;

        @include mobileMore {
            top: 80px;
            font-size: 3rem;
        }
    }
    .event-banner__tit3 {
        position: absolute;
        font-size: 1.7rem;
        top: 30px;
        color: $white;
        margin-left: 20px;
        z-index: 1000;

        @include mobileMore {
            font-size: 2.6rem;
        }
    }

    .event-banner__img {
        position: relative;
        display: block;
        margin-top: 20px;
        margin-bottom: 80px;
        width: 100%;
        height: 138px;
        z-index: 800;
        object-fit: cover;

        @include mobileMore {
            height: 180px;
        }
        @include tabletMore {
            height: 200px;
            padding: 120px;
        }
    }

    .btn-event {
        position: absolute;
        display: inline-flex;
        padding: 5px 6px;
        top: 30%;
        left: 80%;
        background-color: $white;
        color: $black;
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.5rem;
        font-weight: 600;
        align-items: center;
        transition: background-color 0.3s;
        z-index: 1000;

        #Bold {
            width: 25px;
            height: 25px;
        }
        @include mobileMore {
            font-size: 2rem;
            padding: 10px 15px;
        }
    }

    .btn-event:hover {
        background-color: $secondary-3;
    }
}

// desktop
@media screen and (min-width: 1024px) {
    .sec-service {
        .slide-service {
            .sec-g__cont {
                .swiper-pagination {
                    display: block;
                }
                .swiper-button-next,
                .swiper-button-prev {
                    display: none;
                }
            }
        }
    }
}

.sec-service {
    .sec-g__cont .swiper-slide a {
        object-position: 50% 100%;
    }
}

@include tabletMore;
