.video-container {
    position: relative;
    top: 0;
    width: auto;
    height: 100vh;
    overflow: hidden;
    display: block;

    .airplane {
        position: absolute;
        top: 20%;
        left: 0;
        transform: translate(-40%, -50%); /* 아이콘 위치 조정 */
        width: 150px; /* 크기 조정 */
        height: auto;
        z-index: 10;
    }

    .btn-pause {
        &::before {
            content: '\f04c';
            @include lineAwesome;
            font-size: 2rem;
            color: $white;

            @include mobileMore {
                font-size: 3rem;
            }
            @include tabletMore {
                margin-left: 260px;
            }
        }
    }

    .video-container__text-box {
        @include tabletMore {
            margin-left: 260px;
        }
    }

    .video-overlay__main-text {
        white-space: nowrap;
        width: 100%;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 10px;

        @include mobileMore {
            font-size: 5rem;
        }
        @include tabletMore {
            font-size: 6rem;
        }
    }
    .video-overlay__subtit,
    .video-overlay__sub-text {
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.937);
        @include tabletMore {
            font-size: 3rem;
        }
    }
    .video-overlay__sub-text {
        margin-bottom: 25px;
        @include mobileMore {
            br {
                display: none;
            }
        }
        @include tabletMore {
            margin-bottom: 40px;
            br {
                display: none;
            }
        }
    }

    .video-container__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 844px;
        object-fit: cover;
        z-index: 0;
        background: linear-gradient($black 0%, rgba(102, 102, 102, 0) 100%);

        @include mobileMore {
            height: 1024px;
        }
        @include tabletMore {
            height: 100vh;
        }
    }

    .video-container__video-overlay {
        position: absolute;
        top: 70%;
        color: $white;

        @include tabletMore {
            top: 60%;
            margin-left: 20px;
        }
    }
}

.intro {
    @include tabletMore {
        height: 50vh;
        width: 100%;
    }

    .intro-text-line,
    .intro-heading {
        @include mobileMore {
            display: none;
        }
        @include tabletLess {
            display: none;
        }
        @include tabletMore {
            display: block;
        }
    }
    .intro-text-group {
        @include tabletMore {
            padding-bottom: 50px;
        }
    }
    .effect-heading {
        @include mobileMore {
            display: none;
        }
        @include tabletLess {
            display: none;
        }
        @include tabletMore {
            display: flex;
            flex-direction: row-reverse;
            font-size: 10rem;
            font-weight: 900;
            color: $gray-10;
            line-height: 1.2;
            transform: translateY(-150%) translateX(5%);
        }
    }
    .intro-text {
        color: $gray-50;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        margin: 80px auto 100px;
    }
    .intro-heading {
        font-size: 7rem;
        width: 50%;
        line-height: 1.2;
    }

    .form-input-search {
        display: flex;
        padding-bottom: 20px;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 3px solid $black;
        box-sizing: border-box;

        @include mobileMore {
            font-size: 2.2rem;
        }

        @include tabletMore {
            display: flex;
            font-size: 3rem;
            width: 40%;
        }
        .btn-input-search::after {
            content: '\f002';
            @include lineAwesome;
            display: block;
            font-size: 3rem;

            @include mobileMore {
                font-size: 3.5rem;
            }
        }

        .input-value {
            font-weight: 700;
            color: $gray-60;

            @include tabletMore {
                display: flex;
                font-size: 2.2rem;
                margin-top: 80px;
            }
        }

        #Capa_1 {
            width: 35px;
            height: 35px;
        }
    }

    .effect-data {
        .keyword {
            margin: 32px 0;

            @include tabletMore {
                width: 35%;
            }
        }
        .btn-main-search-keyword {
            display: inline-flex;
            align-items: center;
            height: 36px;
            padding: 0 16px;
            margin: 5px 0;
            border-radius: 30px;

            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1;
            color: $black;

            background-color: $secondary-keyword;
        }
    }
    .search-decoration {
        .decorative-visual {
            width: 100%;
            height: 500px;
            margin-bottom: 80px;

            @include mobileMore {
                display: none;
            }

            @include tabletMore {
                display: none;
            }
        }
    }
}

.main-hanatour {
    .logo {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2rem;
    }
}

.travel-showcase {
    @include mobile {
        display: none;
    }
    @include tablet {
        overflow: hidden;
    }
    @include mobileMore {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        transform-style: preserve-3d;
    }
    @include tabletMore {
        height: 100vh;
        min-height: 100vh;
        transform-style: preserve-3d;
    }

    .travel-list {
        @include mobile {
            display: none;
        }
        @include mobileMore {
            position: relative;
            display: flex;
            perspective: 500px;
        }
        @include tabletMore {
            position: relative;
            display: flex;
            perspective: 500px;
        }
        .travel-item {
            @include mobileMore {
                position: absolute;
                top: calc(50% - 150px);
                left: calc(50% - 205px);
                width: 400px;
                height: 330px;
                padding: 60px 40px 25px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                transition: 0.5s;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
                transform-style: preserve-3d;
                transform-origin: bottom;
                user-select: none;
                -webkit-showcase-reflect: below 1px linear-gradient(transparent, transparent, #0002);
            }
            @include tabletMore {
                width: 500px;
                height: 400px;
                left: calc(50% - 230px);
            }

            .travel-header {
                margin-bottom: 20px;
            }
            .travel-title {
                color: $white;
                font-size: 3rem;
                line-height: 1.3;
            }
            .travel-text {
                display: inline-block;
                color: $white;
                font-size: 1.4rem;
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
            }
        }
        .travel-item:nth-child(1) {
            transform: translate3d(-250px, 0, 0) scale(0.8) rotateY(25deg);
            z-index: -1;
        }
        .travel-item:nth-child(2) {
            transform: translate3d(-250px, 0, 0) scale(0.8) rotateY(25deg);
            z-index: 2;
        }
        .travel-item:nth-child(3) {
            transform: translate3d(-150px, 0, 0) scale(0.9) rotateY(15deg);
            z-index: 3;
        }
        .travel-item:nth-child(4) {
            transform: translate3d(0px, 0, 0) scale(1) rotateY(0deg);
            z-index: 4;
        }
        .travel-item:nth-child(5) {
            transform: translate3d(150px, 0, 0) scale(0.9) rotateY(-15deg);
            z-index: 3;
        }
        .travel-item:nth-child(6) {
            transform: translate3d(250px, 0, 0) scale(0.8) rotateY(-25deg);
            z-index: 2;
        }
        .travel-item:nth-child(7) {
            transform: translate3d(250px, 0, 0) scale(0.8) rotateY(-25deg);
            z-index: -1;
        }

        .travel-black {
            color: black;

            .travel-title,
            .travel-text {
                color: inherit; // 부모의 color를 상속
            }
        }

        /* 나라별 백그라운드 */
        .travel-hokkaido {
            background-image: url(../../images/pattern/content/japan.jpg);
        }
        .travel-southeast-asia {
            background-image: url(../../images/pattern/content/southeast-asia.jpg);
        }
        .travel-harbin {
            background-image: url(../../images/pattern/content/harbin.jpg);
        }
        .travel-boracay {
            background-image: url(../../images/pattern/content/boracay.jpg);
        }
        .travel-brunei {
            background-image: url(../../images/pattern/content/brunei.jpg);
        }
        .travel-winter-travel {
            background-image: url(../../images/pattern/content/winter-travel.jpg);
        }
        .travel-europe {
            background-image: url(../../images/pattern/content/europe.jpg);
        }
    }
    .buttons {
        @include mobile {
            display: none;
        }
        @include mobileMore {
            position: absolute;
            bottom: 75px;
            display: flex;
            gap: 20px;
        }
    }
    .buttons span {
        position: relative;
        width: 50px;
        height: 50px;
        border: 2px solid $black;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
    }
    .buttons span:hover {
        opacity: 1;
    }
    .buttons span::before {
        content: '';
        position: absolute;
        left: 20px;
        width: 10px;
        height: 10px;
        border-top: 2px solid $black;
        border-left: 2px solid $black;
        rotate: -45deg;
    }
    .buttons span:last-child::before {
        content: '';
        position: absolute;
        left: initial;
        right: 20px;
        width: 10px;
        height: 10px;
        border-top: 2px solid $black;
        border-left: 2px solid $black;
        rotate: 135deg;
    }
}

.sustainable-travel-section {
    .scroll-container {
        height: 60px;
        padding: 13px;
        background: $white;
        text-orientation: mixed;
        overflow: hidden;

        @include mobileMore {
            height: 80px;
            padding: 18px;
        }
        @include tabletMore {
            height: 140px;
            padding: 20px;
        }
    }
    .message-text {
        animation: scrollText 10s linear infinite;
        font-weight: bold;
        letter-spacing: 1.3px;
        font-weight: 900;
        vertical-align: middle;
        font-size: 3rem;
        line-height: 1.1;
        color: $black;
        white-space: nowrap;

        @include mobileMore {
            font-size: 4rem;
        }
        @include tabletMore {
            font-size: 8rem;
            line-height: 1.2;
            animation: scrollText 20s linear infinite;
        }
    }
    @keyframes scrollText {
        0% {
            transform: translateX(10%); /* 텍스트 시작 */
        }
        100% {
            transform: translateX(-100%); /* 텍스트 끝 */
        }
    }
}

.event-banner {
    display: block;
    position: relative;
    width: 100%;
    min-height: 300px;

    .event-banner__slides li {
        display: none; /* 모든 슬라이드 숨기기 */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .event-banner__slides li.active {
        display: block; /* 활성 슬라이드만 보이기 */
    }

    .event-banner__description {
        position: absolute;
        font-size: 1.3rem;
        z-index: 1000;
        top: 65px;
        color: $secondary-3;
        font-weight: bold;
        margin-left: 50px;

        @include mobileMore {
            margin-left: 100px;
            font-size: 2rem;
        }
        @include tabletMore {
            font-size: 3rem;
            margin-left: 18%;
        }
    }
    .event-banner__tit {
        position: absolute;
        font-size: 2rem;
        z-index: 1000;
        top: 85px;
        color: $white;
        text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
        margin-left: 50px;

        @include mobileMore {
            margin-left: 100px;
            top: 100px;
            font-size: 3rem;
        }
        @include tabletMore {
            font-size: 2.5rem;
            margin-left: 18%;
            top: 120px;
        }
    }
    .event-banner__description2 {
        position: absolute;
        font-size: 1.4rem;
        z-index: 1000;
        top: 48px;
        color: red;
        font-weight: bold;
        margin-left: 20px;
        @include mobileMore {
            top: 55px;
            font-size: 1.8rem;
        }
        @include tabletMore {
            top: 50px;
            font-size: 2.3rem;
        }
    }
    .event-banner__tit2 {
        position: absolute;
        font-size: 1.7rem;
        font-weight: bold;
        z-index: 1000;
        text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
        top: 75px;
        color: $white;
        margin-left: 20px;

        @include mobileMore {
            top: 80px;
            font-size: 3rem;
        }
        @include tabletMore {
            top: 90px;
            font-size: 3.4rem;
        }
    }
    .event-banner__tit3 {
        position: absolute;
        font-size: 1.7rem;
        top: 30px;
        color: $white;
        margin-left: 20px;
        z-index: 1000;

        @include mobileMore {
            font-size: 2.6rem;
        }
        @include tabletMore {
            font-size: 3.5rem;
            margin-left: 5%;
            top: 50px;
            br {
                display: none;
            }
        }
    }
    .point {
        font-family: 'Nosifer', sans-serif;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        font-size: 1.7rem;

        @include mobileMore {
            font-size: 2.6rem;
        }

        @include tabletMore {
            font-size: 3rem;
        }
    }
    .point2 {
        font-family: 'Henny Penny', system-ui;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        font-size: 2rem;

        @include mobileMore {
            font-size: 2.6rem;
        }

        @include tabletMore {
            font-size: 3.5rem;
        }
    }

    .event-banner__img {
        position: relative;
        display: block;
        margin-top: 20px;
        margin-bottom: 80px;
        width: 100%;
        height: 138px;
        z-index: 800;
        border-radius: 10px;
        object-fit: cover;

        @include mobileMore {
            height: 180px;
        }
        @include tabletMore {
            height: 230px;
        }
    }
    .event-banner__img--first {
        object-fit: cover;
    }

    .btn-event {
        position: absolute;
        display: inline-flex;
        padding: 5px 6px;
        top: 45%;
        left: 80%;
        background-color: $white;
        color: $black;
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.4rem;
        font-weight: 500;
        align-items: center;
        transition: background-color 0.3s;
        z-index: 1000;

        @include mobileMore {
            font-size: 2rem;
            padding: 10px 15px;
        }
        @include tabletMore {
            top: 33%;
            padding: 10px 20px;
        }

        &::after {
            content: '\f061';
            @include lineAwesome;
            margin-left: 3px;
            font-size: 1.5rem;
            font-weight: bold;

            @include mobileMore {
                font-size: 2rem;
            }
        }
    }

    .btn-event:hover {
        background-color: $secondary-3;
    }
}

// desktop
@media screen and (min-width: 1024px) {
    .sec-service {
        .slide-service {
            .sec-g__cont {
                .swiper-pagination {
                    display: block;
                }
                .swiper-button-next,
                .swiper-button-prev {
                    display: none;
                }
            }
        }
    }
}

.travel-packages {
    height: 180vh;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), -webkit-image-set(url(../../images/pattern/banners/travel-packages.jpg)) no-repeat center center/cover;

    @include mobileMore {
        height: 150vh;
    }
    @include tabletMore {
        height: 100vh;
    }

    .travel-packages__content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    .travel-packages__title {
        color: #fff;
        line-height: 38px;
        font-size: 4rem;

        @include mobileMore {
            font-size: 5rem;
        }
        @include tabletMore {
            font-size: 7rem;
        }
    }
    .travel-packages__list {
        display: flex;
        flex-direction: column;

        @include mobileMore {
            display: flex;
            flex-direction: column;
        }
        @include tabletMore {
            display: grid;
            grid-template-columns: 447px 447px 306px;
            height: 517px;
        }

        .travel-packages__item {
            @include mobile {
                width: 390px;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h3 {
                font-size: 2rem;
                margin-bottom: 10px;
            }
            p {
                font-size: 1.5rem;
            }
            span {
                font-size: 1.3rem;
            }
        }

        .travel-packages__text {
            padding-left: 30px;
        }

        li:nth-child(1) {
            background: $white;

            h3 {
                margin-top: 20px;
            }

            .travel-packages__video {
                display: flex;
                justify-content: center;
            }
            .travel-packages__link-text {
                @include tabletLess {
                    display: block;
                    padding-bottom: 25px;
                }
            }
        }
        li:nth-child(2) {
            padding: 300px 30px 25px;
            background: -webkit-image-set(url(../../images/pattern/content/travel-packages__item-li2.jpg)) no-repeat center center/cover;

            span {
                display: block;
                margin-top: 10px;
            }

            .travel-packages__link {
                color: $white;
                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
            }
        }
        li:nth-child(3) {
            background: $white;

            h3 {
                @include tabletLess {
                    margin-top: 20px;
                }
            }
            .travel-packages__image {
                @include tabletLess {
                    margin-top: 20px;
                }
                width: 220px;
                height: 220px;
                display: block;
                margin: 0 auto;
                border-radius: 50%;
            }
            .travel-packages__link-text {
                @include tabletLess {
                    display: block;
                    padding-bottom: 25px;
                }
            }
        }
    }
}
