.video-container {
    position: relative;
    top: 0;
    width: auto;
    height: 100vh;
    overflow: hidden;
    display: block;

    .btn-pause {
        &::before {
            content: '\f04c';
            @include lineAwesome;
            font-size: 2rem;
            color: $white;

            @include mobileMore {
                font-size: 3rem;
            }
            @include tabletMore {
                margin-left: 260px;
            }
        }
    }

    .video-container__text-box {
        @include tabletMore {
            margin-left: 260px;
        }
    }

    .video-overlay__main-text {
        white-space: nowrap;
        width: 100%;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 10px;

        @include mobileMore {
            font-size: 4.5rem;
        }
        @include tabletMore {
            font-size: 6rem;
        }
    }
    .video-overlay__subtit,
    .video-overlay__sub-text {
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.937);
        @include tabletMore {
            font-size: 3rem;
        }
    }
    .video-overlay__sub-text {
        margin-bottom: 25px;
        @include mobileMore {
            br {
                display: none;
            }
        }
        @include tabletMore {
            margin-bottom: 40px;
            br {
                display: none;
            }
        }
    }

    .video-container__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 844px;
        object-fit: cover;
        z-index: 0;
        background: linear-gradient($black 0%, rgba(102, 102, 102, 0) 100%);

        @include mobileMore {
            height: 1024px;
        }
        @include tabletMore {
            height: 920px;
        }
    }

    .video-container__video-overlay {
        position: absolute;
        top: 70%;
        color: $white;

        @include tabletMore {
            top: 60%;
            margin-left: 20px;
        }
    }
}

.intro {
    .intro-text-line,
    .intro-heading,
    .search-decoration-suitcase,
    .search-decoration-bangkok,
    .search-decoration-hawaii {
        @include mobileMore {
            display: none;
        }
        @include tabletLess {
            display: none;
        }
        @include tabletMore {
            display: block;
        }
    }
    .intro-text-group {
        position: relative;
    }
    .effect-heading {
        position: absolute;
        font-size: 10rem;
        font-weight: 900;
        color: $gray-10;
        display: block;
        top: 240px;
        right: -60px;
        line-height: 1.2;
        @include mobileMore {
            display: none;
        }
        @include tabletLess {
            display: none;
        }
        @include tabletMore {
            display: block;
        }
    }
    .intro-text {
        color: $gray-50;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        margin: 80px auto 30px;
        // gap: 20px;
    }
    .intro-heading {
        font-size: 7.2rem;
        width: 50%;
        line-height: 1.2;
    }

    .form-input-search {
        display: flex;
        padding-bottom: 5px;
        justify-content: space-between;
        border-bottom: 3px solid $black;
        box-sizing: border-box;
        margin-top: 50px;

        @include tabletMore {
            display: flex;
            width: 40%;
            margin-top: 80px;
        }

        .input-value {
            font: bold;
        }

        #Capa_1 {
            width: 35px;
            height: 35px;
        }
    }

    .effect-data {
        .keyword {
            margin: 32px 0;

            @include tabletMore {
                width: 35%;
            }
        }
        .btn-main-search-keyword {
            display: inline-flex;
            align-items: center;
            height: 36px;
            padding: 0 16px;
            margin: 5px 0;
            border-radius: 30px;

            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1;
            color: $black;

            background-color: $secondary-keyword;
        }
        .decorative-visual {
            width: 100%;
            height: 500px;
            margin-bottom: 40px;

            @include mobileMore {
                width: 720px;
                height: 1000px;
            }

            @include tabletMore {
                position: absolute;
                top: 50%;
                left: -150px;
                width: 1000px;
                height: 665px;
                object-fit: cover;
            }
        }
    }
    .search-decoration-suitcase {
        @include tabletMore {
            position: relative;
            left: 73%;
            width: 550px;
            height: 770px;
        }
    }
    .search-decoration-bangkok {
        @include tabletMore {
            position: absolute;
            top: 70%;
            left: 70%;
            width: 360px;
            height: 550px;
        }
    }
    .search-decoration-hawaii {
        @include tabletMore {
            position: relative;
            left: 30%;
            width: 500px;
            height: 500px;
            z-index: 3;
            margin-top: 600px;
            margin-bottom: 220px;
        }
    }
}

.main-hanatour {
    .logo {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2rem;
    }
}

.main-middle-banner {
    position: relative;
    overflow: hidden;
    height: 400px;

    @include mobileMore {
        height: 750px;
    }
    @include tabletMore {
        height: 900px;
    }

    .inner-middle-banner {
        margin: 0;
        padding: 0;
    }

    .banner-container {
        position: relative;

        .scroll-container {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: $secondary-5;
            white-space: nowrap;
            height: 400px;
            padding: 13px;
            color: $white;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-size: 1.3rem;
            line-height: 1.9;

            @include mobileMore {
                font-size: 1.8rem;
                height: 750px;
                padding: 18px;
            }
            @include tabletMore {
                font-size: 2rem;
                height: 910px;
                padding: 20px;
            }
        }
        .message-text {
            animation: scroll-text 10s linear infinite;
            letter-spacing: 1.3px;
        }

        @keyframes scroll-text {
            0% {
                transform: translateY(10%);
            }
            100% {
                transform: translateY(-70%); /* 원하는 스크롤 방향 */
            }
        }

        @include tabletMore {
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .banner-content {
            position: relative;
            display: flex;
            margin-bottom: 10px;
            overflow: hidden;

            .banner-image {
                width: 100%;
                height: 400px;

                @include mobileMore {
                    height: 750px;
                }
                @include tabletMore {
                    display: flex;
                    width: 1200px;
                    height: 900px;
                    margin-right: 20px;
                }
            }

            .banner-intro-text {
                position: absolute;
                top: 20%;
                margin-left: 20px;
                color: $white;
                font-size: 3rem;
                font-weight: bold;
                .highlighted-text {
                    color: $primary;
                }

                @include mobileMore {
                    margin-left: 30px;
                    font-size: 5rem;
                }
                @include tabletMore {
                    margin-left: 300px;
                    font-size: 6rem;
                }
            }
        }

        .banner-image-wrapper {
            display: flex;

            @include mobileMore {
                display: none;
            }
            @include tabletLess {
                display: none;
            }
            @include tabletMore {
                display: block;
            }
            .passport-ticket-image {
                object-fit: cover;
                object-position: bottom;
                width: 100%;
                height: 900px;
            }
        }
    }
}
.event-banner {
    display: block;
    position: relative;
    width: 100%;
    min-height: 300px;

    .event-banner__slides li {
        display: none; /* 모든 슬라이드 숨기기 */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .event-banner__slides li.active {
        display: block; /* 활성 슬라이드만 보이기 */
    }

    .event-banner__description {
        position: absolute;
        font-size: 1.3rem;
        z-index: 1000;
        top: 65px;
        color: $secondary-3;
        font-weight: bold;
        margin-left: 50px;

        @include mobileMore {
            margin-left: 100px;
            font-size: 2rem;
        }
        @include tabletMore {
            font-size: 3rem;
            margin-left: 18%;
        }
    }
    .event-banner__tit {
        position: absolute;
        font-size: 2rem;
        z-index: 1000;
        top: 85px;
        color: $white;
        text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
        margin-left: 50px;

        @include mobileMore {
            margin-left: 100px;
            top: 100px;
            font-size: 3rem;
        }
        @include tabletMore {
            font-size: 2.5rem;
            margin-left: 18%;
            top: 120px;
        }
    }
    .event-banner__description2 {
        position: absolute;
        font-size: 1.4rem;
        z-index: 1000;
        top: 48px;
        color: red;
        font-weight: bold;
        margin-left: 20px;
        @include mobileMore {
            top: 55px;
            font-size: 1.8rem;
        }
        @include tabletMore {
            top: 50px;
            font-size: 2.3rem;
        }
    }
    .event-banner__tit2 {
        position: absolute;
        font-size: 1.7rem;
        font-weight: bold;
        z-index: 1000;
        text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
        top: 75px;
        color: $white;
        margin-left: 20px;

        @include mobileMore {
            top: 80px;
            font-size: 3rem;
        }
        @include tabletMore {
            top: 90px;
            font-size: 3.4rem;
        }
    }
    .event-banner__tit3 {
        position: absolute;
        font-size: 1.7rem;
        top: 30px;
        color: $white;
        margin-left: 20px;
        z-index: 1000;

        @include mobileMore {
            font-size: 2.6rem;
        }
        @include tabletMore {
            font-size: 3.5rem;
            margin-left: 5%;
            top: 50px;
            br {
                display: none;
            }
        }
    }
    .point {
        font-family: 'Nosifer', sans-serif;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        font-size: 1.7rem;

        @include mobileMore {
            font-size: 2.6rem;
        }

        @include tabletMore {
            font-size: 3rem;
        }
    }
    .point2 {
        font-family: 'Henny Penny', system-ui;
        font-weight: 400;
        font-style: normal;
        display: inline-block;
        font-size: 2rem;

        @include mobileMore {
            font-size: 2.6rem;
        }

        @include tabletMore {
            font-size: 3.5rem;
        }
    }

    .event-banner__img {
        position: relative;
        display: block;
        margin-top: 20px;
        margin-bottom: 80px;
        width: 100%;
        height: 138px;
        z-index: 800;
        border-radius: 10px;

        @include mobileMore {
            height: 180px;
        }
        @include tabletMore {
            height: 230px;
        }
    }
    .event-banner__img--first {
        object-fit: cover;
    }

    .btn-event {
        position: absolute;
        display: inline-flex;
        padding: 5px 6px;
        top: 45%;
        left: 80%;
        background-color: $white;
        color: $black;
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.4rem;
        font-weight: 600;
        align-items: center;
        transition: background-color 0.3s;
        z-index: 1000;

        #Bold {
            width: 20px;
            height: 20px;

            @include mobileMore {
                width: 25px;
                height: 25px;
            }
        }
        @include mobileMore {
            font-size: 2rem;
            padding: 10px 15px;
        }
        @include tabletMore {
            top: 33%;
            padding: 10px 20px;
        }
    }

    .btn-event:hover {
        background-color: $secondary-3;
    }
}

// desktop
@media screen and (min-width: 1024px) {
    .sec-service {
        .slide-service {
            .sec-g__cont {
                .swiper-pagination {
                    display: block;
                }
                .swiper-button-next,
                .swiper-button-prev {
                    display: none;
                }
            }
        }
    }
}
